%h1
  = t('views.dashboard.show.title')

- if policy(:generator).index?
  = render partial: 'test_server/generator/overview'
= render partial: 'test_server/string/overview'
= render partial: 'test_server/streaming/overview'
= render partial: 'test_server/static/overview'
= render partial: 'test_server/reflectors/overview'
= render partial: 'test_server/file_uploader/overview'
- if policy(:meta_information).index?
  = render partial: 'test_server/meta_information/overview'
